@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto Slab', serif;
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.real-checkbox:checked + .fake-checkbox {
    background-image: url(../star-btn-gold.svg);
}

.textarea::-webkit-resizer,
.list::-webkit-resizer {
    border: 2px solid black;
    outline: none;
    border: 20px solid transparent;
    border-right: 20px solid #189ab4;
    border-bottom: 20px solid #189ab4;
}

.textarea::-webkit-scrollbar,
.list::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.textarea::-webkit-scrollbar-track,
.list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #189ab4;
    cursor: pointer;
}

.textarea::-webkit-scrollbar-thumb,
.list::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 10px;
    border: 3px solid #189ab4;
    cursor: pointer;
}

.textarea::-webkit-scrollbar-thumb:hover,
.list::-webkit-scrollbar-thumb:hover {
    background: #fcfcfc;
    cursor: pointer;
}

.form-search.open .wrapper-input {
    width: 180px;
}

.form-search.open .search-button {
    transform: translate(-50%, -50%) rotate(90deg);
}

.form-search.open .icon-search {
    transform: scale(1.2);
}
