@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto Slab', serif;
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.fake-checkbox {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../star-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.real-checkbox:checked + .fake-checkbox {
    background-image: url(../star-btn-gold.svg);
}
